<%= error_messages_for 'config' %>
<fieldset>
  <legend>Page Default</legend>
  <div>
    <label style="width: 80px">Title</label>
    <%= text_field 'config', 'site_title', :size => 40 %>
  </div>
  <div>
    <label style="width: 80px">Description</label>
    <%= text_area 'config', 'site_description', :size => "60x8" %>
  </div>
  <div>
    <label style="width: 80px">Copyright</label>
    <%= text_field 'config', 'site_copyright', :size => 40 %>
  </div>
  <div>
    <label style="width: 80px">Keywords</label>
    <%= text_field 'config', 'site_keywords', :size => 40 %>
  </div>
  <div>
    <label style="width: 80px">Robots</label>
    <%= check_box 'config', 'site_robots_index' %><span>Index</span>
    <%= check_box 'config', 'site_robots_follow' %><span>Follow</span>
  </div>
</fieldset>
