<%= message_from_flash_now(:info) %>
<%= message_from_flash_now(:error) %>
<%= error_messages_for 'config' %>
<fieldset>
  <legend>Page Design</legend>
  <div>
    <label style="width: 140px">Page Width</label>
    <%= text_field 'config', 'design_width', :size => 5 %>
    <%= select 'config', 'design_width_unit',  WjConfig::DesignWidthUnits.map(){ |u| [u,u] }%>
  </div>
  <div>
    <label style="width: 140px">Left Container Width </label>
    <%= text_field 'config', 'design_lwidth', :size => 5 %>
    <%= select 'config', 'design_lwidth_unit',  WjConfig::DesignWidthUnits.map(){ |u| [u,u] }%>
  </div>
  <div>
    <label style="width: 140px">Right Container Width</label>
    <%= text_field 'config', 'design_rwidth', :size => 5 %>
    <%= select 'config', 'design_rwidth_unit',  WjConfig::DesignWidthUnits.map(){ |u| [u,u] }%>
  </div>
</fieldset>
<fieldset>
  <legend>Site Theme</legend>
  <p>
    Site Theme configuration is not supported in this version.
  </p>
</fieldset>
