<div class="content">
<h2>Account : <%= @account.login_name %></h2>
<p>
  This account has been activated and you can login with <%= @account.login_method %>
  from <%= link_to "Login Page", :controller => "login", :action => "index" %>.
</p>
<table>
  <tbody>
    <tr>
      <th>Type</th>
      <td><%=h @account.type %></td>
    </tr>
    <tr>
      <th>Display Name</th>
      <td><%=h @account.display_name %></td>
    </tr>
  </tbody>
</table>
</div>
