<%= message_from_flash_now(:error) %>
<fieldset>
  <legend>Change your password</legend>
  <%= hidden_field 'account', 'request_passcode'  %>
  <p>Set new password following to the password policy.</p>
  <ul>
    <li>Password must be longer than <%= WjUser::LocalDB::MINIMUM_PASSWORD_LENGTH %> charactors.</li>
  </ul>
  <div>
    <%= password_field_tag 'password', nil, :size => 16 %>
      <%= submit_tag "Update",
          :id => "password_submit",
      :class => "submit"
      %>
  </div>
</fieldset>
