<div class="content">
  <div class="form-container">
    <p>To activate your account, set your login password following to the password policy.</p>
    <ul>
      <li>Password must be longer than <%= WjUser::LocalDB::MINIMUM_PASSWORD_LENGTH %> charactors.</li>
    </ul>
    <div id="<%= page.dom_id("errors") %>" class="error" style="display:none"></div>
    <% form_remote_tag(:url    => formatted_activation_system_account_path(@account.login_name, "json"),
                       :loading => disable_submit_button(page.dom_id("activation_submit")),
                       :complete => enable_submit_button(page.dom_id("activation_submit")),
                       :success  => "PasswordUser.onActivationSuccess(request)",
                       :failure  => "PasswordUser.onActivationFailure(request)"
    ) do -%>
    <fieldset>
      <legend>Activate: <%=h @account.login_name %></legend>
      <%= hidden_field 'account', 'request_passcode'  %>
      <div>
        Password: <%= password_field_tag 'account[password]', nil, :size => 16 %>
        <%= submit_tag "Activate",
                                    :id => page.dom_id("activation_submit"),
                                    :class => "submit" -%>
      </div>
    </fieldset>
    <% end %>
  </div>
  <div class="success" style="display:none">
    <p>
      Your account has been activated successfully.
      Now you can login with your new account.
    </p>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
Page.getDom("activation_submit").attr("disabled", null);
});
</script>
