<fieldset>
  <legend>Comment</legend>
  <div>
    <label style="width: 100px">Name</label>
    <%= text_field 'comment', 'name', :size => 40, :class => "textfield" %>
  </div>
  <div>
    <label style="width: 100px">Email</label>
    <%= text_field 'comment', 'email', :size => 40, :class => "textfield" %>
  </div>
  <div>
    <label style="width: 100px">URL</label>
    <%= text_field 'comment', 'url', :size => 40, :class => "textfield" %>
  </div>
  <div>
    <label style="width: 100px">Private</label>
    <%= check_box 'comment', 'is_private', :class => "checkbox" %>
  </div>
  <label style="width: 100px">Comment</label>
  <div style="margin-left: 120px">
    <%= text_area 'comment', 'text', :rows => "4", :style=> "width: 100%;", :class => "textarea" %>
  </div>
</fieldset>

