<div class="content">
  <p>
    <%= link_to "Create account?",  :action => "register_with_password" %>
    <%= link_to "Forgot password?", :action => "reset_password" %>
  </p>
  <%= align_form(page.dom_id("form"), :label_width => 100) %>
  <% form_remote_tag(:url => formatted_current_system_accounts_path("json"),
                     :datatype => "json",
                     :loading   => now_loading(page.dom_id("form")),
                     :success   => "LoginPage.onLoginSuccess(request)",
                     :failure   => clear_overlay(page.dom_id("form")) + "LoginPage.onLoginFailure(request)",
                     :html      => {
                       :method => "put",
                       :id => page.dom_id("form")}) do -%>
  <fieldset>
    <legend>Credentials</legend>
    <div style="display:none" class="error"></div>
    <div class="field">
      <label class="name" for="account_login_name">
        Login Name
      </label>
      <%= text_field 'account', 'login_name' %>
    </div>
    <div class="field">
      <label class="name" for="account_password">Password</label>
      <%= password_field 'account', 'password' %>
    </div>
    <div class="action">
      <%= submit_tag "Login", :id => page.dom_id("login_submit") %>
    </div>
  </fieldset>
  <div class="spacer"></div>
  <% end -%>
</div>
