<div class="content">
  <div class="form-container">
    <div id="<%= page.dom_id("errors") %>" class="error" style="display:none"></div>
    <% form_remote_tag(:url    => formatted_system_accounts_path(:format => "json"),
    :loading => disable_submit_button(page.dom_id("register_with_password")),
    :complete => enable_submit_button(page.dom_id("register_with_password")),
    :success  => "PasswordUser.onRegisterSuccess(request)",
    :failure  => "PasswordUser.onRegisterFailure(request)"
    ) do -%>
    <fieldset>
      <legend>Register with Password</legend>
      <%= hidden_field_tag "type", "password" %>
      <div>
        <label style="width: 100px">Login Name</label>
        <%= text_field 'account', 'login_name', :size => 16, :class => "textfield" %>
      </div>
      <div>
        <label style="width: 100px">Email</label>
        <%= text_field 'account', 'email', :size => 32, :class => "textfield" %>
      </div>
    </fieldset>
    <div style="margin-left: 130px">
      <%= submit_tag "Register", :id => page.dom_id("register_with_password"), :class => "submit" %>
    </div>
    <% end %>
  </div>
  <div class="success" style="display:none">
    <p>
      The confirmation mail has been delivered to the address of this account.
      You can activate this account to click the link in the confirmation mail.
    </p>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
   Page.getDom("register_with_password").attr("disabled", null);
});
</script>

