<div class="content">
  <div class="form-container">
    <p>Set new password following to the password policy</p>
    <ul>
      <li>Password must be longer than <%= WjUser::LocalDB::MINIMUM_PASSWORD_LENGTH %> charactors.</li>
    </ul>
    <div id="<%= page.dom_id("errors") %>" class="error" style="display:none"></div>
    <% form_remote_tag(:url      => formatted_password_system_account_path(@account.login_name, "json"),
                       :loading  => disable_submit_button(page.dom_id("password_submit")),
                       :complete => enable_submit_button( page.dom_id("password_submit")),
                       :success  => "PasswordUser.onResetPasswordSuccess(request)",
                       :failure  => "PasswordUser.onResetPasswordFailure(request)",
                       :method => :post ) do -%>
    <fieldset>
      <legend>Update <%= @account.login_name %>'s password</legend>
      <%= hidden_field 'account', 'request_passcode'  %>
      <div>
        Password : <%= password_field_tag 'account[password]', nil, :size => 16 %>
        <%= submit_tag "Update",
            :id => page.dom_id("password_submit"),
        :class => "submit"
        %>
      </div>
    </fieldset>
    <% end %>
  </div>
  <div class="success" style="display:none">
    <p>
      Your password has been updated successfully.
      Now you can login with your new password.
    </p>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
Page.getDom("password_submit").attr("disabled", null);
});
</script>
