<div class="form-container">
  <% form_remote_tag(
     :update => page.dom_id,
     :url    => url_for(:action => :reset_password, :_layout => "none"),
     :method => :post,
     :loading  => disable(page.dom_id('reset_password_submit'))) do -%>
  <%= message_from_flash_now(:info) %>
  <%= message_from_flash_now(:error) %>
  <fieldset>
    <legend>Reset Password</legend>
    <div>
      <label style="width: 100px">Login Name</label>
      <%= text_field_tag 'login_name' %>
    </div>
    <div>
      <label style="width: 100px">Email</label>
      <%= text_field_tag 'email' %>
    </div>
    <div style="margin-left: 120px">
      <%= submit_tag "Reset",
          :id => page.dom_id("reset_password_submit"),
          :class => "submit"
      %>
    </div>
  </fieldset>
  <% end %>
</div>
