<div class="form-container">
  <% form_tag({:action => "with_password"},
              {:onsubmit => disable_submit_button(page.dom_id("password_submit"))}) do -%>
  <%= message_from_flash_now(:error) %>
  <fieldset>
    <legend>Login with Password</legend>
    <% unless request.ssl? -%>
    <p><%= link_to "Change SSL form?", :action => "with_password", :only_path => false, :protocol => "https://" %></p>
    <% end %>
    <div>
      <label style="width: 100px">Login Name</label>
      <%= text_field 'account', 'login_name', :size => 16, :class => "textfield" %>
    </div>
    <div>
      <label style="width: 100px;" for="password"><%= "Password" %></label>
      <input class="textfield" id="account_password" name="account[password]" size="16" type="password" />
    </div>
    <div style="margin-left: 120px">
      <%= submit_tag "Login",
	  :id => page.dom_id("password_submit"),
          :class => "submit"
      %>
    </div>
  </fieldset>
  <% end %>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
   Page.getDom("password_submit").attr("disabled", "");
});
</script>
