<div id="<%= instance[:_id] %>" class="widget">
  <div id="<%= instance[:_id] %>_show_header"
       class="ui-dialog-titlebar header">
    <div id="<%= instance[:_id] %>_title"
         class="ui-dialog-title title">
      <%=h instance[:title] %>
    </div>
    <span class="buttons">
      <% if @page.allow_edit?(current_user) %>
      <a href="#" class="ui-dialog-titlebar-close edit"
         onclick="Page.getWidgetInstance(<%=h instance[:_id].to_json %>).edit();">
      </a>
      <% end %>
    </span>
  </div>
  <div id="<%= instance[:_id] %>_edit_header"
       class="ui-dialog-titlebar header"
       style="display:none">
    <input id="<%= instance[:_id] %>_edit_title"
           type="text" class="ui-dialog-title title"
           value="<%=h instance[:title] %>"/>
  </div>
  <div id="<%= instance[:_id] %>_body"
       class="body">
    <%=h instance.inspect %>
  </div>
  <div id="<%= instance[:_id] %>_edit_footer"
       class="footer" style="display:none">
    <span id="<%= instance[:_id] %>_saving"
          class="saving with_inline_icon icon_saving"
          style="display:none"></span>
    <button id="<%= instance[:_id] %>_save" class="submit"
            type="button"
            onclick="Page.getWidgetInstance(<%=h instance[:_id].to_json %>).update()">Save</button>
    <button id="<%= instance[:_id] %>_cancel" class="submit"
            type="button"
            onclick="Page.getWidgetInstance(<%=h instance[:_id].to_json %>).cancel()">Cancel</button>
  </div>
</div>
