<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="generator"   content="WebJourney Component Page Generator" />
    <%= render :partial => "pages/show/meta_tags" %>
    <title><%=h @page.title %> - WebJourney </title>
    <%= render_file File.join(RAILS_ROOT, "/app/views/share/stylesheets.html.erb"), false %>
    <%= render_file File.join(RAILS_ROOT, "/app/views/share/javascripts.html.erb"), false %>
    <%= render :partial => "pages/show/style" %>
    <%= render :partial => "pages/show/javascript" %>
  </head>
  <body>
    <div id="page">
      <%= render :partial => "pages/show/header" %>
      <div id="body" class="body">
        <div id="widgets" class="widgets">
          <div id="top_container" class="widget_container">
            <% @widget_instances[:top].each do |instance| -%>
            <%= render :partial => "pages/show/widget_instance", :locals => { :instance => instance } %>
            <% end -%>
          </div>
          <div id="wrapper">
            <div id="main">
              <div id="center_container" class="widget_container">
                <% @widget_instances[:center].each do |instance| -%>
                <%= render :partial => "pages/show/widget_instance", :locals => { :instance => instance } %>
                <% end -%>
              </div>
            </div>
            <div id="left_container" class="widget_container">
              <% @widget_instances[:left].each do |instance| -%>
              <%= render :partial => "pages/show/widget_instance", :locals => { :instance => instance } %>
              <% end -%>
            </div>
          </div>
          <div id="right_container" class="widget_container">
            <% @widget_instances[:right].each do |instance| -%>
            <%= render :partial => "pages/show/widget_instance", :locals => { :instance => instance } %>
            <% end -%>
          </div>
          <div id="bottom_container" class="widget_container">
            <% @widget_instances[:bottom].each do |instance| -%>
            <%= render :partial => "pages/show/widget_instance", :locals => { :instance => instance } %>
            <% end -%>
          </div>
        </div>
      </div>
      <div id="footer" class="footer">
        <div class="powered-by">
          <span>Powered by <a href="http://project.webjourney.org/webjourney/trac">WebJourney</a> &copy; 2006-2008 webjourney.org </span>
        </div>
      </div><!-- end of footer -->
    </div>
    <% form_tag pages_url(), :id => "new_page_form" do %>
    <% end %>
  </body>
</html>

