<%= message_from_flash_now(:info) %>
<%= message_from_flash_now(:error) %>
<%= error_messages_for 'account' %>
<fieldset>
  <legend>Account</legend>
  <div>
    <label style="width: 120px">Login Name</label>
    <%=h @account.login_name %>
  </div>
  <div>
    <label style="width: 120px">Display Name</label>
    <%= text_field 'account', 'display_name', :size => 16, :class => "textfield" %>
  </div>
  <div>
    <label style="width: 120px">Current Password</label>
    <%= password_field_tag "account[current_password]" %>
  </div>
  <div>
    <label style="width: 120px">New Password</label>
    <%= password_field_tag "account[new_password]" %>
  </div>
</fieldset>
