<%= message_from_flash_now :error %>
<%= error_messages_for 'account' %>
<fieldset>
  <legend>Register with OpenID</legend>
  <%= hidden_field_tag "type", "open_id" %>
  <div>
    <label style="width: 100px">Login Name</label>
    <%= text_field 'account', 'login_name', :size => 16, :class => "textfield" %>
    </div>
  <div>
    <label style="width: 100px">OpenID URI</label>
    <%= text_field 'account', 'open_id_uri', :size => 32, :class => "textfield" %>
  </div>
  <div>
    <label style="width: 120px">Display Name</label>
    <%= text_field 'account', 'display_name', :size => 16, :class => "textfield" %>
  </div>
  <div style="margin-left: 120px">
    <%= submit_tag "Register",
        :id => "open_id_submit",
    :class => "submit" -%>
  </div>
</fieldset>
