<%= message_from_flash_now :error %>
<%= error_messages_for 'account' %>
<fieldset>
  <legend>Register with Password</legend>
  <%= hidden_field_tag "type", "password" %>
  <div>
    <label style="width: 100px">Login Name</label>
    <%= text_field 'account', 'login_name', :size => 16, :class => "textfield" %>
    </div>
  <div>
    <label style="width: 100px">Email</label>
    <%= text_field 'account', 'email', :size => 32, :class => "textfield" %>
  </div>
</fieldset>
